.input-field.active{
    border: 1px solid red; 
}

.input-field.correct{
    border: 2px solid rgb(10, 194, 25); 
}


#enviar-mail {
 display: none;
}

#enviar-mail.active {
    display: block;
    border: 1px solid red;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: red;
}